# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS and Linux system files
.DS_Store
Thumbs.db

# Log files
*.log

# Data files
*.csv
*.txt
